.btnMenu {
    position: fixed;
    bottom: 0%;
    width: 100%;
    font-size: 21px;
    line-height: 24px;
    font-weight: 600;
    background-color: var(--green);
    color: var(--white);
    padding: 14px 0;
}

@media(min-width: 661px) {
    .btnMenu {
        position: static;
        width: 180px;
        background-color: var(--black);
        border: 1px solid var(--white);
        border-radius: 5px;
    }
}