.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    border-bottom: 2px solid var(--green);
    padding: 7px 0 2px;
}

.logo {
    width: 105px;
    height: 25px;
}

.btnMenu {
    position: fixed;
    bottom: 0%;
    width: 100%;
    font-size: 21px;
    line-height: 24px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    background-color: var(--green);
    color: var(--white);
    padding: 14px 0;
    z-index: 2;
}

@media(min-width: 661px) {
    .menu {
        justify-content: space-between;
        padding: 20px 40px;
    }

    .logo {
        width: 168px;
        height: 40px;
    }

    .btnMenu {
        position: static;
        width: 180px;
        background-color: var(--black);
        border: 1px solid var(--white);
        border-radius: 5px;
    }
}