.destaque--container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 240px;
    color: var(--grayLight);
}

.destaque--panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    height: 100%;
}

.destaque--panel:first-child {
    display: none;
}

.destaque--panel:last-child {
    height: 50%;
}

.destaque--titulo {
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
}

.destaque--descricao,
.destaque--antetitulo {
    display: none;
}

.destaque--btnAssistir {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    text-decoration: none;
    background-color: var(--grayLight);
    color: var(--black);
    border: 1px solid var(--grayLight);
    border-radius: 5px;
    width: 100px;
    height: 30px;
    margin: auto;
}

@media(min-width: 661px) {
    .destaque--container {
        display: grid;
        grid-template-columns: 1fr 646px;
        grid-template-rows: 100%;
        height: 800px;
        margin: 0 40px;
    }

    .destaque--panel {
        justify-content: center;
        align-items: flex-start;
    }

    .destaque--panel:first-child {
        grid-row: 1;
        grid-column: 2;
        display: flex;
    }

    .destaque--panel:last-child {
        grid-row: 1;
        grid-column: 1;
        height: 100%;
        margin-right: 50px;
    }

    .destaque--antetitulo {
        font-size: 60px;
        line-height: 70px;
        background-color: var(--frontEnd);
        border-radius: 5px;
        padding: 5px;
        display: block;
    }

    .destaque--titulo {
        font-size: 46px;
        line-height: 54px;
        font-weight: normal;
        margin: 40px 0 0;
    }

    .destaque--descricao {
        font-size: 18px;
        line-height: 21px;
        font-weight: 300;
        display: block;
        margin: 9px 0 0;
    }

    .destaque--thumb {
        width: 100%;
        margin: auto;
        border: 4px solid var(--green);
    }

    .destaque--btnAssistir {
        display: none;
    }
}